SERVER_PORT=8080

UPLOAD_PATH=../uploads

# Key for JWT signing
JWT_SECRET=VGfucERcmymq3JmsYjDczP5Ntb2O3DM3BjtAg6ouk8p

# Google OAuth2
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Cloudflare Turnstile Captcha
#TURNSTILE_SECRET_KEY=your_turnstile_secret_key

# Dummy code, will always succeed
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
# Dummy code, will always fail
# TURNSTILE_SECRET_KEY=2x0000000000000000000000000000000AA
TURNSTILE_VERIFY_URL=https://challenges.cloudflare.com/turnstile/v0/siteverify

# For sending emails
MAIL_USERNAME=your_gmail_username
MAIL_PASSWORD=your_gmail_password

# Stripe payment
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=

# Data encryption
ENCRYPTION_SECRET_KEY=lrxFjGrzOZamgftJRLHnrbUQTbegBw1VkL8MRkzVMzw=

PASSWORD_RESET_DURATION=15m

# Frontend properties
FRONTEND_URL=http://localhost:3000
FRONTEND_ACCOUNT_URL=http://localhost:3000/account
FRONTEND_PASSWORD_RESET_URL=http://localhost:3000/account/reset-password

# Rate limit properties
RATELIMIT_CAPACITY=100
RATELIMIT_REFILL=300
RATELIMIT_REFILL_INTERVAL=1m
RATELIMIT_BUCKET_EXPIRATION=2m